{
    "extends": [
        "airbnb-typescript"
    ],
    "rules": {
        "import/no-extraneous-dependencies": "off",
        "import/prefer-default-export": "off"
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}